@font-face {
    font-family: "GmarketSansMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #e5e3ee;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
}

.content {
    min-height: calc(100vh - 7vh);
}

nav {
    background-color: #0f254e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 7vh;
    line-height: 7vh;
}

.nav-item {
    display: flex;
    flex-direction: row;
}

.nav-item > a {
    text-decoration: none;
    color: #e5e3ee;
    margin: 0 3vh;
}

#logo-img {
    width: 7vh;
    height: 7vh;
}

/* 이미지 후에 수정*/
#logoimg {
    display: flex;
    flex-direction: row;
    width: 7vh;
    height: 7vh;
}

#mainpage > a {
    position: absolute;
    left: 800px;
    color: #e5e3ee;
    top: 40%;
    text-decoration: none;
}
#mypage > a {
    position: absolute;
    left: 1000px;
    color: #e5e3ee;
    top: 40%;
    text-decoration: none;
}
#login > a {
    position: absolute;
    left: 1500px;
    color: #e5e3ee;
    top: 40%;
    text-decoration: none;
}
*/ #wrap {
    position: absolute;
    width: 1500px;
    height: 830px;
    top: 200px;
    left: 220px;
}
/* 공모전 검색 버튼 부분 */
#aside {
    position: absolute;
    display: flex;
}

#search {
    position: absolute;
    border: none;
    border-radius: 10px;
    font-size: medium;
    width: 300px;
    height: 55px;
    font-family: "GmarketSansMedium";
}

.search {
    position: relative;
    width: 300px;
}

#img-search {
    position: absolute;
    width: 17px;
    top: 20px;
    right: 12px;
    margin: 0;
}
/* s1이랑 s7동일 */
/* s2랑 s8동일 */

#s1 {
    position: absolute;
    top: 90px;
    background-color: white;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid #0f254e;
}

#s1 > a {
    font-size: 13px;
    font-family: "GmarketSansMedium";
    position: absolute;
    top: 13px;
    left: 10px;
    color: #0f254e;
}

#s2 {
    position: absolute;
    top: 90px;
    left: 110px;
    background-color: white;
    width: 190px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid #0f254e;
}

#s2 > a {
    font-size: 14px;
    font-family: "GmarketSansMedium";
    position: absolute;
    top: 13px;
    left: 40px;
    color: #0f254e;
}

#s3 {
    position: absolute;
    top: 145px;
    background-color: white;
    width: 80px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid #0f254e;
}

#s3 > a {
    font-size: 12px;
    font-family: "GmarketSansMedium";
    position: absolute;
    top: 15px;
    left: 8px;
    color: #0f254e;
}

#s4 {
    position: absolute;
    top: 145px;
    left: 90px;
    background-color: white;
    width: 210px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid #0f254e;
}

#s4 > a {
    font-size: 14px;
    font-family: "GmarketSansMedium";
    position: absolute;
    top: 13px;
    left: 45px;
    color: #0f254e;
}

#s5 {
    position: absolute;
    top: 200px;
    background-color: white;
    width: 210px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid #0f254e;
}

#s5 > a {
    font-size: 14px;
    font-family: "GmarketSansMedium";
    position: absolute;
    top: 13px;
    left: 50px;
    color: #0f254e;
}

#s6 {
    position: absolute;
    top: 200px;
    left: 220px;
    background-color: white;
    width: 80px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid #0f254e;
}

#s6 > a {
    font-size: 12px;
    font-family: "GmarketSansMedium";
    position: absolute;
    top: 15px;
    left: 8px;
    color: #0f254e;
}

#s8 {
    position: absolute;
    top: 255px;
    left: 110px;
    background-color: white;
    width: 190px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid #0f254e;
}

#s8 > a {
    font-size: 14px;
    font-family: "GmarketSansMedium";
    position: absolute;
    top: 13px;
    left: 45px;
    color: #0f254e;
}

#s7 {
    position: absolute;
    top: 255px;
    background-color: white;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border-color: #0f254e;
    border: 2px solid #0f254e;
}

#s7 > a {
    font-size: 13px;
    font-family: "GmarketSansMedium";
    position: absolute;
    top: 13px;
    left: 10px;
    color: #0f254e;
}

/* 공모전 버튼 css 구현 완료 */

/* 공모전 정보 제공하는 곳 css */

#grid-container {
    position: absolute;
    display: grid;
    left: 350px;
    grid-template-columns: repeat(3, 330px);
    grid-template-rows: repeat(2, 350px 450px);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-auto-flow: column;
}

#gridgrid {
    display: flex;
    position: relative;
    background-color: white;
    border-radius: 10px;
}

#poster {
    border-radius: 10px 10px 0px 0px;
    width: 330px;
    height: 200px;
    object-fit: fill;
}
.item1 {
    border-radius: 10px 10px 0px 0px;
    width: 330px;
    height: 230px;
    object-fit: cover;
}

.item2 {
    border-radius: 10px 10px 0px 0px;
    width: 330px;
    height: 300px;
    object-fit: cover;
}
#gridsection {
    position: absolute;
    display: flex;
    top: 70%;
    width: 330px;
}
#kind {
    text-align: center;
    width: 100px;
    font-weight: bold;
    font-size: 10px;
    top: 5px;
    left: 20px;
    color: #ffa10a;
    background-color: #fff6e7;
    border-radius: 10px;
    position: absolute;
}

#title {
    font-size: larger;
    color: #505b72;
    font-weight: bold;
    left: 20px;
    top: 30px;
    position: absolute;
}

#num {
    font-weight: bold;
    color: #7f8799;
    position: absolute;
    left: 30px;
    top: 70px;
}

#day {
    font-weight: bold;
    color: #7f8799;
    position: absolute;
    left: 100px;
    top: 70px;
}

/* 스크롤바 */
.scrollbar {
    width: 250px;
    height: 250px;
    overflow-y: scroll;
}
/* 스크롤바의 폭 너비 */
.scrollbar::-webkit-scrollbar {
    width: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
    height: 30px;
    background: #0f254e;
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-track {
    background: #c7c2da;
}
/* 버튼클릭시 색상변경 이벤트 */

.active {
    background-color: yellow;
}

#footer {
    display: flex;
    position: absolute;
    background-color: #0f254e;
    width: 100%;
    height: 7vh;
    bottom: 0;
    left: 0;
    text-align: center;
    justify-content: center;
    line-height: 7vh;
}

.footer {
    margin: 0 auto;
    color: #e5e3ee;
}
