@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{background-color: #E5E3EE;
margin:0;
padding: 0;
display:flex;
height: 100%;
}

#nav{background-color:#0F254E;
    display:flex;
    width: 100%;
    height: 100px;
    position: absolute;
}

#footer{
    display:flex;
    position:absolute;
    background-color:#0F254E;
    width: 100%;
    height: 50px;
    bottom:0;
    left: 0;
}

#logoimg{
    width:100px;
position:absolute;
left:80px;
color:#E5E3EE;

}
#mainpage>a{
position:absolute;
left:800px;
color:#E5E3EE;
top:40%;
text-decoration: none;

}
#mypage>a{
 position:absolute;
left:1000px;
color:#E5E3EE;
top:40%;
text-decoration: none;
}
#login>a{
    position:absolute;
    left:1500px;
    color:#E5E3EE;
    top:40%;
    text-decoration: none;

}

#wrap{
    position:absolute;
    background-color:white;
    width: 1500px;
    height: 770px;
    top:200px;
    left:220px;

}
#title{
    position:absolute;
    background-color: #E5E3EE;
    top:100px;
    font-size: 55px;
    left: 42%;
    font-family: 'GmarketSansMedium';
    color:#0F254E;
    font-weight: bold;
}


#section{
position:relative;
display: flex;
}

#var{
    position:absolute;
    height: 7px;
    background-color: #0F254E;
    width: 100%;
    }
/* FOOTER의 저작권 글 부분 */
#copy{
    position:absolute;
    color:#E5E3EE;
    top:15%;
    left: 45%;

}

/* 이름작성하는 곳 */
#name{
    display:flex;
    position:absolute;
    width: 600px;
    height: 100px;
    top:50px;
    left: 70px;
    border: none;
   
}
#namevar{
    border-radius: 5PX 5PX 0 0;
    position:absolute;
    top:0;
    left: 0;
    width: 600px;
    height: 50px;
    background-color: #0F254E;
    color:white;
    border: none;
}

#namevar>a{
    position:absolute;
    font-family: 'GmarketSansMedium';
    font-size: 25px;
    font-weight: 600;
    top:13px;
    left: 20px;
    border: none;
}
#nametext{
    position:absolute;
    top: 50px;
    left: 0;
    width: 593px;
    height: 50px;
    border-radius: 0;
    border-color:#A1AEB7;
    
}

/* 사용자 소개 작성하는 곳 */
#intro{
    display:flex;
    position:absolute;
    width: 700px;
    height:500px;
    top:50px;
    left: 750px;
    border: none;
   
}
#introvar{
    border-radius: 5PX 5PX 0 0;
    position:absolute;
    top:0;
    left: 0;
    width: 700px;
    height: 50px;
    background-color: #0F254E;
    color:white;
    border: none;
}

#introvar>a{
    position:absolute;
    font-family: 'GmarketSansMedium';
    font-size: 25px;
    font-weight: 600;
    top:8px;
    left: 20px;
    border: none;
}
#introtext{
    position:absolute;
    top: 50px;
    left: 0;
    width: 693px;
    height: 400px;
    border-radius: 0;
    border-color:#A1AEB7;
    
}

/* 포트폴리오 첨부파일 하는 곳 */

#pf{
    display:flex;
    position:absolute;
    width: 300px;
    height:20px;
    top: 180px;
    left: 370px;
    border: none;
   
}
#pfvar{
    border-radius: 5PX 5PX 0 0;
    position:absolute;
    top:0;
    left: 0;
    width: 300px;
    height: 50px;
    background-color: #0F254E;
    color:white;
    border: none;
}

#pfvar>a{
    position:absolute;
    font-family: 'GmarketSansMedium';
    font-size: 25px;
    font-weight: 600;
    top:10px;
    left: 20px;
    border: none;
}
.filebox{
    border: 2px solid;
    position:absolute;
    top: 50px;
    left: 0;
    width: 298px;
    height: 50px;
    border-radius: 0;
    border-color:#A1AEB7;
    
}


.filebox .upload-name {
    position:absolute;
    top:3px;
    left: 0px;
    height: 40px;
    vertical-align: middle;
    border:none;
    width:200px;
    color: #999999;
}

.filebox label {
    position:absolute;
    top:10px;
    left: 220px;
    color: black;
    background-color:white;
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

/* 학교입력칸 */

#univ{
    display:flex;
    position:absolute;
    width: 300px;
    height:20px;
    top: 310px;
    left: 370px;
    border: none;
   
}
#univvar{
    border-radius: 5PX 5PX 0 0;
    position:absolute;
    top:0;
    left: 0;
    width: 300px;
    height: 50px;
    background-color: #0F254E;
    color:white;
    border: none;
}

#univvar>a{
    position:absolute;
    font-family: 'GmarketSansMedium';
    font-size: 25px;
    font-weight: 600;
    top:10px;
    left: 20px;
    border: none;
}
#univtext{
    
    position:absolute;
    top: 50px;
    left: 0;
    width: 293px;
    height: 50px;
    border-radius: 0;
    border-color:#A1AEB7;
}


/* 프로필 이미지 */
#ui{
    display:flex;
    position:relative;
    width: 280px;
    height: 320px;
    top:180px;
    left: 70px;
    border:2px solid #A1AEB7;
    border-radius: 5PX 5PX 0 0;
   
   
}
#uivar{
    border-radius: 5PX 5PX 0 0;
    position:absolute;
    top:0;
    left: 0;
    width: 280px;
    height: 50px;
    background-color: #0F254E;
    color:white;
    border: none;
}

#uivar>a{
    position:absolute;
    font-family: 'GmarketSansMedium';
    font-size: 25px;
    font-weight: 600;
    top:7px;
    left: 20px;
    border: none;
}
#uiimg{
    position:absolute;
    top: 50px;
    left: 0;
    width: 293px;
    height: 50px;
    border-radius: 0;
    border-color:#A1AEB7;
}

#inputimage{
    position:absolute;
    top: 50px;
}

#uisection{
    width: 280px;
    position:absolute;
    }
.uploadImage{
    position:absolute;
    top:100px;
    left: 55px;
    background-color: #0F254E;
    border-radius: 50%;
    width: 170px;
    height: 170px;
}

#sendButton{
    position: absolute;
    right: 30px;
    border: none;
    background-color: white;
    font-size: 20px;
}

/* 수정하기버튼 */
#edit{
    position: absolute;
    top: 650px;
    right: 50px;
    background-color: #0F254E;
    color: white;
    width: 100px;   
    height: 50px;
    font-family: 'GmarketSansMedium';

}

#edit>a{
    position: absolute;
    top:17px;
    left: 20px;
    font-weight: 600;

}
/* 공개범위 설정 */
#open{
    font-size: 20px;
    font-family: 'GmarketSansMedium';
    text-align: center;
    left: 70px;
    width: 280px;
    height: 50px;
    position: absolute;
    top: 550px;
    background-color: white;
    border: 2px solid #A1AEB7;
}