<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Star Pool</title>
        <link rel="stylesheet" href="./css/password.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <nav>
            <div class="nav-item">
                <a href="#"
                    ><img
                        id="logo-img"
                        src="./images/logo_1.png"
                        alt="navbar 로고"
                /></a>
            </div>
            <div class="nav-item">
                <a href="./mainpage.html"><div id="mainpage">MainPage</div></a>
                <a href="#"><div id="mypage">MyPage</div></a>
            </div>
            <div class="nav-item">
                <a href="./login.html"><div id="login">Log In</div></a>
                <a href="#"><div id="logout">Log Out</div></a>
            </div>
        </nav>

        <div class="content">
            <div class="password-title">비밀번호 변경</div>
            <div class="container">
                <form
                    method="POST"
                    action="{% url 'change_password' %}"
                    class="form"
                >
                    <div>
                        {% csrf_token %}
                        <p>현재 비밀번호</p>
                        <input
                            class="password-input"
                            name="origin_password"
                            type="password"
                        />
                    </div>
                    <div>
                        <p>변경할 비밀번호</p>
                        <input
                            class="password-input"
                            name="password1"
                            type="password"
                        />
                    </div>
                    <div>
                        <p>비밀번호 확인</p>
                        <input
                            class="password-input"
                            name="password2"
                            type="password"
                        />
                    </div>
                    <input class="btn btn-primary" type="submit" value="변경" />
                </form>
            </div>
        </div>

        <footer>
            <p class="footer">
                &copy; 2023 HERETHON 오디. STAR POOL ALL RIGHTS RESERVED.
            </p>
        </footer>
    </body>
</html>
