@font-face {
    font-family: "GmarketSansMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    background-color: #e5e3ee;
}

/* content(non-footer) */
.content {
    min-height: calc(95vh - 7vh);
    width: 40%;
    height: 30vh;
    margin: 0 auto;
    margin-top: 5vh;
    text-align: center;
}

/* logo */
#logo > h3 {
    font-size: 17px;
    text-align: center;
    /* margin: 0 auto; */
    margin-bottom: 22px;
}

/* inputs */
#inputs {
    width: 60%;
    margin: 0 auto;
}
#signup-form {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

p {
    margin-bottom: 4px;
}

#signup-form > input {
    width: 100%;
    height: 5vh;
    line-height: 5vh;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border-radius: 10px;
    border-width: 1px;
    background-color: #f8f8f8;
    font-size: 11px;
    font-weight: 500;
    box-shadow: 2px 2px 2px gray;
}

label {
    text-align: center;
    display: block;
    margin-top: 12px;
}

hr {
    width: 85%;
    height: 1px;
    border: none;
    background-color: #d4d4d4;
    margin: 0 auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#signup-form > input[type="submit"] {
    display: block;
    width: 25vh;
    border-radius: 14px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    background-color: #0f254e;
    border-style: none;
    margin: 0 auto;
    margin-top: 3vh;
}

/* togo-login */
#togo-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.5em;
}

#togo-login > p {
    color: #5b5b5b;
    font-size: 14px;
}

#togo-login > a {
    text-decoration: none;
    color: #436482;
    font-size: 14px;
}

/* footer */

footer {
    background-color: #0f254e;
    width: 100%;
    bottom: 0;
    height: 7vh;
    text-align: center;
    display: flex;
    justify-content: center;
    line-height: 7vh;
}

.footer {
    margin: 0 auto;
    color: #e5e3ee;
}
