@font-face {
    font-family: "GmarketSansMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    background-color: #e5e3ee;
}

/* content(non-footer) */
.content {
    min-height: calc(100vh - 7vh);
}
/* nav-bar */
nav {
    background-color: #0f254e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 7vh;
    line-height: 7vh;
}

.nav-item {
    display: flex;
    flex-direction: row;
}

.nav-item > a {
    text-decoration: none;
    color: #e5e3ee;
    margin: 0 3vh;
}

/* start */
#start {
    width: 100%;
    height: 40vh;
    background-color: #f5f5f5;
    text-align: center;
    padding-top: 10vh;
}

.info {
    color: #575e6a;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#start > a {
    text-decoration: none;
    color: #e5e3ee;
}

#start-app {
    margin: 0 auto;
    padding: 20px 20px;
    width: fit-content;
    background-color: #0f254e;
    box-shadow: 3px 3px 3px gray;
}
/* func */
#func {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.item {
    margin: 5vh 0;
    text-align: center;
}

.func-title {
    text-shadow: 2px 2px 4px gray;
}

.container {
    /* width: 85%; */
    margin: 0 auto;
}

/* footer */

footer {
    background-color: #0f254e;
    width: 100%;
    bottom: 0;
    height: 7vh;
    text-align: center;
    display: flex;
    justify-content: center;
    line-height: 7vh;
}

.footer {
    margin: 0 auto;
    color: #e5e3ee;
}
